*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --c-margin-article: 4rem 1rem 4rem 1rem;
  --c-margin-card: 2rem 1.5rem 2rem 1.5rem;
  --c-col-textwhite: rgb(255, 255, 255);
  --c-col-lightgrey: rgb(243, 243, 243);
  --c-col-darkgrey: rgb(107, 107, 107);
  --c-col-black: rgb(0, 0, 0);
  --c-col-pink-box: rgb(235, 156, 173);
  --c-col-green-box: rgb(144, 175, 165);
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border: 1px solid salmon;
}

.logo-company {
  width: 200px;
  margin: 2rem 0 0 2rem;
}

.nav-bar {
  all: unset;
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem 2rem 0.5rem 2rem;
  cursor: pointer;
  border: 1px solid darkgreen;
}

.nav-link {
  flex-shrink: 1;
  border: 1px solid black;
}

.hero-section {
  margin: 1rem;
  background-color: var(--c-col-lightgrey);
  _border: 1px solid darkblue;
}

.img-hero-mobile {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 1px solid violet;
}

.h1-subheading {
  font-size: 1.6rem;
  padding: 0 2rem 2rem 2.2rem;
  border: 1px solid dodgerblue;
}

h2 {
  font-size: 2rem;
}

.info-box {
  _border: 1px solid orange;
  padding: 5rem 1rem 5rem 1rem;
  margin: var(--c-margin-article);
  text-align: center;
}

.info-text {
  font-size: 1.5rem;
  margin: 0 1.5rem 0 1.5rem;
}

.info-button {
  all: unset;
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  border: 3px solid black;
  border-radius: 10px;
  margin: 2rem 1rem 1rem 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 700;
}

.pink-box {
  background-color: var(--c-col-pink-box);
}

.trend-header > h2 {
  margin-top: 0;
}

.trend-header {
  text-align: center;
  margin: 4rem 1rem 4rem 1rem;
  _border: 1px solid darkgreen;
}

h3 {
  margin: 2rem 1.5rem 2rem 1.5rem;
  font-size: 1.8rem;
}

.info-link {
  all: unset;
  display: inline-block;
  border-bottom: 2px solid black;
  margin: var(--c-margin-card);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-e-mobility,
.card-podcast {
  border: 3px solid var(--c-col-darkgrey);
  border-radius: 10px;
  margin: 4rem 2rem 4rem 2rem;
}

.img-card {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transform: translate(-0.7rem, 0.7rem);
  position: relative;
  z-index: -1;
}

.green-box {
  background-color: var(--c-col-green-box);
}

.page-footer {
  margin: 1rem;
  padding: 3rem;
  background-color: var(--c-col-black);
}

.footer-container {
  all: unset;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.footer-link {
  all: unset;
  display: inline-block;
  cursor: pointer;
  border-bottom: 2px solid var(--c-col-textwhite);
  color: var(--c-col-textwhite);
}

address {
  margin-top: 3rem;
  font-style: unset;
  text-align: center;
  color: var(--c-col-lightgrey);
}

address::before {
  content: "© ";
}

@media screen and (min-width: 768px) {
  .logo-company {
    width: 300px;
    margin-top: 1rem;
  }

  .page-header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    _gap: 5em;
    margin: 0 1rem 0 1rem;
    _padding-right: 20em;
    align-items: center;
  }

  .nav-bar {
    width: 100%;
    _flex-wrap: wrap;
    justify-content: space-between;
    _gap: 2em;
    margin: 1rem 2rem 0.5rem 2rem;
    cursor: pointer;
    border: 1px solid darkgreen;
  }

  _.nav-bar > li + li {
    margin-left: 2rem;
  }

  .img-hero-mobile {
    display: none;
  }

  .img-hero-full-width {
    background-image: url(https://images.pexels.com/photos/2559941/pexels-photo-2559941.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    aspect-ratio: 16 / 9;
    _border: 1px solid red;
  }

  .img-hero-full-width {
    display: flex;
    align-items: center;
    padding-left: 5em;
    padding-right: 50em;
    border: 5px solid hotpink;
  }

  h1 {
    font-size: 5rem;
    color: var(--c-col-textwhite);
    border: 2px solid hotpink;
  }

  .h1-subheading {
    font-size: 2rem;
    color: var(--c-col-textwhite);
    border: 2px solid dodgerblue;
  }

  .card-container {
    display: flex;
    border: 1px solid black;
    margin-top: 5rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-link {
    font-size: 0.8rem;
  }
}
