*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main > article + article {
  margin: 5rem 1rem 0 1rem;
}

html {
  line-height: 1.5;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

.page-header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.logo-company {
  min-width: 0;
  max-width: 200px;
  flex: 1 1 0;
}

.nav-bar {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 1.5rem;
}

.nav-bar__link {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

@media screen and (min-width: 768px) {
  .page-header {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .logo-company {
    width: 300px;
  }

  .nav-bar {
    min-width: 18em;
    margin: 0;
  }
}

.hero {
  background-color: lightgray;
  padding-bottom: 0.5rem;
}

.hero__img {
  width: 100%;
}

.hero__header {
  margin: 0.5rem 1rem 0 1rem;
}

.h1__subheading {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  .hero {
    position: relative;
    background-color: transparent;
  }

  .hero__header {
    max-width: 75ch;
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 1rem;
  }

  h1,
  .h1__subheading {
    max-width: 50ch;
    margin: 0;
    line-height: 1;
    color: white;
  }

  h1 {
    font-size: 4rem;
  }

  .h1__subheading {
    font-size: 2rem;
  }
}

.info-box {
  padding: 5rem 1rem 5rem 1rem;
  text-align: center;
  background-color: var(--clr-box);
}

.info-box--pink {
  --clr-box: rgb(235, 156, 173);
}

.info-box--green {
  --clr-box: rgb(144, 175, 165);
}

.info-text,
.trend-text {
  font-size: 1.5rem;
}

.info-button {
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1rem 2rem;
  border: 3px solid black;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
}

.trend-header {
  text-align: center;
}

.card--e-mobility,
.card--podcast {
  border: 3px solid darkgrey;
  border-radius: 10px;
}

.card--e-mobility + .card--podcast {
  margin-top: 2em;
}

@media screen and (min-width: 786px) {
  .card--e-mobility + .card--podcast {
    margin-top: 0;
  }
}

.card__img {
  padding: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  transform: translate(-0.7rem, 0.7rem);
  position: relative;
  z-index: -1;
}

.card-text {
  padding: 1rem;
}

.trend-link {
  text-decoration: none;
  border-bottom: 2px solid black;
  font-size: 1.5rem;
  font-weight: 600;
  color: black;
}

@media screen and (min-width: 768px) {
  .card-container {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
}

.page-footer {
  padding: 3rem;
  margin-top: 5rem;
  background-color: black;
}

.footer-bar {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-bar__link {
  text-decoration: none;
  list-style: none;
  border-bottom: 2px solid white;
  color: white;
}

@media screen and (min-width: 768px) {
  .footer-bar {
    flex-direction: row;
    justify-content: center;
  }
}

.copyright {
  margin-top: 3rem;
  text-align: center;
  color: lightgray;
}

.copyright::before {
  content: "© ";
}
